<!--
about.html

    HMTL that renders the about page of the website.

    Gracie Little, Rudra Subramanian, Rebecca Fox, Yemi Shin 
    25 May 2020
    CS257
-->
<html>
    <head>
        <title> Spring 2020 US Covid - 19 Data</title>
        <link rel="stylesheet" href="/static/aboutstyle.css">
    </head>
    
    <body>
        <!--Logo-->
        <img id = logo src ="/static/carletonLogo.png" alt = "Carleton Logo"></i>
        <!--Banner-->
        <h1>Spring 2020 US COVID-19 Cases</h1>
        <!--Navigation-->
        <nav>
            <ul>
                <li><a class="home" href="/">Home</a></li>
                <li><a class="active" href="#data">Data Set</a>
                    <ul class="dropdown-content">
                        <li><a href="/results/">Results</a></li>
                        <li><a href="/about/">About Data</a></li>
                    </ul>
                </li> 
                <li><a href="/about/">About COVID-19</a></li>
            </ul>
        </nav>

        <!--About Our Data Section-->
        <div class="highlight">
            <h2> About Our Data</h2>
            <p> There is a lot of information available about COVID-19 and given the huge impact of the virus, we believe it's important that clear and accurate data are available for everyone, regardless of their familiarity with epidemiology, data science or statistics. Everyone's lives have been touched by this virus in one way or another and clear communication and simple presentations of what knowledge we do have is important to give everyone the best possible understanding of the situation we are facing as a country and as a planet. </p>
        </div>

        <!--Data Breakdown Section-->
        <div class="highlight2">
            <h3>Data Breakdown: </h3>
                <ul>
                    <li><span class="def">Confirmed cases:</span> the number of positive cases as identified through COVID-19 testing, and also includes presumptive positive cases. </li>
                    <li><span class="def">Deaths:</span> the number of people who were confirmed positive for the virus and died. </li>
                    <li><span class="def">Recovered:</span> the number of people who were confirmed positive and have recovered.</li>
                    <li><span class="def">By state:</span> number of (confirmed, active, etc...) cases per state.</li>
                    <li><span class="def">Per capita:</span> within a state, the number of per capita "" cases.</li>
                </ul>
        </div>

        <!--Statistics-Related Terms Section-->
        <div class="terms">
            <h3>Terms of Use</h3>
            <p>UVA provides this data for academic or research purposes. Data is open for the public to access and download provided that the data is cited with a link to the dashboard, users respect that the data is provided under a CC BY-NC license and that the data will be used in a non-commercial product that the public is free to use.</p>
        </div>

        <!--Source Information Section-->
        <div class="source">
            <h3>Data Source</h3>
            <p> Data retrieved from:
                <a href="https://nssac.bii.virginia.edu/covid-19/dashboard/">UVA Covid Surveillance Dashboard</a> on 25 May 2020.
            </p>
            <p>
                <a href="https://nssac.github.io/covid-19/dashboard/#faq">Data usage policy</a>
            </p>
            <img class="image"src="/static/uvalogo.png"alt="UVA Biocomplexity Institute Logo">
        </div>
        
        <!--Motivational Words Section-->
        <div class="motivation">
            <h2 id="positive">Despite It All</h2>
            <p> This too shall pass. Together we can still be one.</p>
        </div>
    </body>
</html>